<dom-module id="home-element">
  <link rel="import" href="../../lib/polymer/polymer.html">
  <link rel="import" href="../card/card-element.html">
  <template>
    <card-element>
      <img src="/images/seniorBall.jpg" alt="villains" width="100%"/>
      <p>What up villains... uhh I mean hi, I'm Kevin White and welcome to my
      website! Here you'll find some information about my life: software projects,
      blogs, travels, and passions. I hope you enjoy!</p>
    </card-element>
    <card-element>
      <span>About Me</span>
      <img src="/images/bigDub.jpg" alt="Big Dub and Me" width="100%"/>
      <p>The nickname Katana comes from my days of perpetual grinding on the MMO
        MapleStory. But you can call me: K.Dub, K.Dubs, Kev and names I'm forgetting!</p>
      <p>Resident quirky nerd at your service! Hailing from Detroit, MI, I'm currently
      working as a software developer for General Motors for the OnStar platform.
      I had the fortune of spending four fantastic years in the Boston area attending
      MIT. In my free time, I enjoy watching and playing sports, watching anime, coding,
      and spending some time in the Bible. My musical tastes primarily center around hip hop,
      R&B, metal, and progressive rock (my parents find this puzzling too).</p>
    </card-element>
  </template>

  <script src="home-element.js"></script>
</dom-module>
