<dom-module id="blogs-element">
  <template>
    <card-element>
      <span>Countersteer</span>
      <img src="/images/nola.jpg" alt="Blog Photo" width="100%" />
      <p>Countersteer is currently the name of my personal blog. I discuss everything from politics to Christian living. My personal life, just like my writing (hopefully), is a journey in self-improvement.</p>
      <link-button url="http://katanakdubs.tumblr.com" button-text="Home Page"></link-button>
    </card-element>
  </template>

  <script>
    (function() {
      Polymer({
        is: "blogs-element",
      });
    })();
  </script>
</dom-module>
