<dom-module id="projects-element">
  <template>
    <card-element>
      <span>Nudge</span>
      <img src="/images/nudgeFeatureGraphic.png" alt="Nudge Banner" width="100%" />
      <p> Nudge is an automated text messaging application useful for functions such as reminders, accountability texts, and PSAs.</p>
      <link-button url="https://play.google.com/store/apps/details?id=com.ksp.nudge" button-text="Play Store"></link-button>
      <link-button url="https://github.com/kwhite17/Nudge" button-text="GitHub Repository"></link-button>
    </card-element>
  </template>

  <script>
    (function() {
      Polymer({
        is: "projects-element",
      });
    })();
  </script>
</dom-module>
