<dom-module id="projects-element">
  <link rel="import" href="../../lib/polymer/polymer.html">
  <link rel="import" href="../../lib/paper-button/paper-button.html">
  <link rel="import" href="../card/card-element.html">
  <template>
    <card-element>
      <span>Nudge</span>
      <img src="/images/nudgeFeatureGraphic.png" alt="Nudge Banner" width="100%"/>
      <p> Nudge is an automated text messaging application useful for functions
        such as reminders, accountability texts, and PSAs.</p>
      <paper-button on-click="navigate" name="appLink">Play Store</paper-button>
      <paper-button on-click="navigate" name="sourceLink">GitHub Repository</paper-button>
    </card-element>
  </template>

  <script src="projects-element.js"></script>
</dom-module>
