extends layout

block images
  #welcomeFrame.imageFrame
    #welcomeContainerLeft.imageContainer.dualContainer
      img#leftImage.dualImage(src="/images/home/seniorBall.jpg" alt="Left Image")
    #welcomeContainerRight.imageContainer.dualContainer
      img#rightImage.dualImage(src="/images/home/tokyoSkytree.jpg" alt="Right Image")

block content
  #core
    section#welcome
      h2 Welcome
      p.
        Hello, visitor and welcome to my website. Here on this website you will
        find my projects, sports analysis, tech analysis, and travel log. I hope
        you enjoy browsing the site!

    section#aboutMe
      h2 About Me
      p.
          I am a software engineer that hails from Detroit, Michigan. A
          graduate of the Massachusetts Institute of Technology (Class of 2014), I
          am currently employed at General Motors Onstar as a software developer.

block extraScripts
  script(src="/javascripts/photoManager.js")
