extends layout

block pageTitle
  h1 Projects

block content
  #core
    section#currentProjects
      img#nudgeImage(src="/images/projects/nudgeFeatureGraphic.png" alt="Nudge")
      h2 Nudge
      p.
        Nudge is an automated text messaging app. It provides users the ability to
        send recurring text messages to their recipient at a specific date and time.
      a(href="https://play.google.com/store/apps/details?id=com.ksp.nudge") Play Store
      br
      a(href="https://github.com/kwhite17/Nudge") Github Repository
