extends layout

block pageTitle
  h1 Sports Analysis

block images
  #sportsFrame.imageFrame
    .imageContainer.quadContainer
      img#q1Image.quadImage(src="/images/sports/miggy.jpg", alt="Miguel Cabrera")
    .imageContainer.quadContainer
      img#q1Image.quadImage(src="/images/sports/megatron.jpg", alt="Calvin Johnson")
    .imageContainer.quadContainer
      img#q1Image.quadImage(src="/images/sports/pistons.jpg", alt="Detroit Pistons")
    .imageContainer.quadContainer
      img#q1Image.quadImage(src="/images/sports/woodson.jpg", alt="Charles Woodson")

block content
  #core
    section#notes
      h2 Coming Soon
      p.
        Get ready for some analysis y'all!
