<dom-module id="travel-element">
  <template>
    <card-element>
      <span>Japan 2014</span>
      <img src="/images/yoyogi.jpg" alt="Yoyogi National Stadium" width="100%" />
      <p> As a graduation present to myself, I decided to take a trip to Japan for two weeks. It was an absolutely amazing trip. I primarily spent time in Tokyo and Kyoto. However, I did spend a day in Nara to visit the Todaiji Temple (and two others whose
        names I forgot).</p>
      <p> Kyoto was amazing. I think in my limited travel experiences it is safe to say that I've never been to a city quite like Kyoto. The blend of temples, shrines, and modern buildings created an experience that I believe I'll be extremely challenged
        to find for a long time. One of my favorite discoveries was the Maimai Cafe. It was a struggle remebering how to speak Japanese at an all-Japanese cafe, but because of my perseverance, I learned about this delicious Japanese dish called sukiyaki.
        The customer barbecues raw beef in a marinade with noodles and vegetables for a delicious stew-like experience. You can also dip your food in raw egg for additional flavor.</p>
      <p>Tokyo was also fantastic. It is unfathomable to think about how modern that prefecture looks in comparison to the other places I've visited, including a thriving Boston. Some of the highlights there were visiting the onsen and visiting Tokyo proper.
        Tokyo proper contains the imperial palace and the Diet building which are encompassed in some of the shiniest skyscrapers I've seen in my life. It was so breathtaking. There's so much more of Japan I could talk about including the chaos at the Hachijo Crossing
        (this name could be wrong) at Shibuya, anime nirvana at Akihabara, and the bullet train experience, but you should just ask me if you know me.</p>
      <p>One final point, please stop by Cafe Byron Bay. This is my favorite bar in Japan. It's a cafe where local patrons come to speak English with tourists or foreigners, giving you a great opportunity to learn a lot about Japanese culture from the people
        who live there. The bartender/owner is really amazing and has really created an awesome experience.
      </p>
      <link-button url="https://plus.google.com/108019425902173465024/stories/9b801892-3890-319e-a86d-2e10eae89a2f14722f9a261" button-text="Gallery"></link-button>
    </card-element>
    <card-element>
      <img src="/images/versailles.jpg" alt="The Palace at Versailles" width="100%" />
      <span>Paris and England 2010</span>
      <p>I went to England and Paris over ten days with my mom, my best friend, and his relatives. It was a really cool experience that I wouldn't trade for anything. In England, we had the opportunity to visit cool places such as Stonehenge,
        the Roman Baths, Buckingham Palace, and Westminster Abbey. This was a cool experience despite having to temporarily evacuate the hotel after arriving due to a bomb threat (!!!).</p>
      <p>In Paris, we got to visit historical sites such as the Louvre, the Eiffel Tower, and the Notre Dame Cathedral. In addition, we had the opportunity to visit the Palace at Versailles, which is by far the most beautiful building I have seen to this
        day. It is absolutely incredible. Our tour of the palace had us visit twenty rooms, or one percent of the entire palace, not including the gardens. As my friend said after an half hour of touring "No wonder the French rebelled."</p>
      <link-button url="https://www.facebook.com/media/set/?set=a.1922525863718.2118876.1259235021&type=1&l=c44fa05643" button-text="Gallery"></link-button>
    </card-element>
  </template>

  <script>
    (function() {
      Polymer({
        is: "travel-element",
      });
    })();
  </script>
</dom-module>
