<dom-module id="card-element">

  <template>

    <style>
      .rootElement {
        background-color: #FFFFFF;
        min-height: 200px;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
      }

      .titleSection {
        font-size: 130%;
        font-weight: bold;
        margin-left: 2%;
      }

      .textSection {
        font-size: 110%;
        word-wrap: break-word;
        margin-left: 2%;
        margin-right: 2%;
      }
    </style>

    <paper-material class="rootElement" elevation="4">
      <div class="imageSection">
        <content select="img"></content>
      </div>
      <br/>
      <div class="titleSection">
        <content select="span"></content>
      </div>
      <br/>
      <div class="textSection">
        <content select="p"></content>
      </div>
      <br/>
      <div class="buttonSection">
        <content select="link-button"></content>
      </div>
    </paper-material>
  </template>

  <script>
    (function() {
      Polymer({
        is: "card-element",
      });
    })();
  </script>
</dom-module>
