<dom-module id="link-button">
  <style>
    :host {
      display: inline-block;
    }

    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #000000;
    }
  </style>
  <template>
    <a href$="{{url}}" target="_blank">
      <paper-button>
        <span>{{buttonText}}</span>
      </paper-button>
    </a>
  </template>

  <script>
    (function() {
      Polymer({
        is: "link-button",
        properties: {
          url: String,
          buttonText: String
        }
      });
    })();
  </script>
</dom-module>
