<dom-module id="paper-scaffold">

  <style is="custom-style">
  .pageTitle {
    font-size: 150%;
  }

  .navLink {
    padding-bottom: 5%;
    font-size: 110%;
    background-color: #455A64;
    color: white;
    cursor: pointer;
  }

  #siteTitle {
    font-size: 130%;
  }

  paper-drawer-panel {
    --paper-drawer-panel-main-container: {
      background-color: #B0BEC5;
    };
    --paper-drawer-panel-left-drawer-container: {
      background-color: #455A64;
    };
  }

  ::content card-element {
    padding: 5%;
  }

  :host paper-menu {
    background-color: #455A64;
  }

  :host paper-toolbar {
    background-color: #263238;
  }
  </style>
  <template>
    <flatiron-director route="{{route}}" auto-hash></flatiron-director>
    <paper-drawer-panel>
      <paper-header-panel drawer>
        <paper-toolbar>
          <div>
            <paper-item id="siteTitle">Kevin White</paper-item>
          </div>
        </paper-toolbar>
        <paper-menu attr-for-selected="hash" selected="{{route}}">
          <template is="dom-repeat" items="{{navOptions}}">
            <paper-item hash$="{{item}}" class="navLink">{{item}}</paper-item>
          </template>
        </paper-menu>
      </paper-header-panel>
      <paper-header-panel main>
        <paper-toolbar>
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <div>
            <span class="pageTitle">Home</span>
          </div>
        </paper-toolbar>
        <neon-animated-pages id="pages" attr-for-selected="anchor" selected="{{route}}" entry-animation="slide-from-right-animation" exit-animation="slide-left-animation">
          <content select=".component"></content>
        </neon-animated-pages>
      </paper-header-panel>
    </paper-drawer-panel>
  </template>

  <script src="paper-scaffold.js"></script>
</dom-module>
