nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

img {
    max-width: 100%;
    height: auto;
}